{% extends 'layout.html' %}
{% block title %}
products
{% endblock title %}
{% block content %}
<p class="alert alert-primary"> products </p>
<div class="row">
<div class="card" style="width: 18rem;">
    <img src="https://tse1.mm.bing.net/th?id=OIP.mV3g9eMJD_2fM4-x_w7zkwHaD-&pid=Api&P=0&h=180" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    
</div>
<div class="card" style="width: 18rem;">
    <img src="https://tse4.mm.bing.net/th?id=OIP.QbRIIJILL0ZJ6xQdvbxDRQHaEG&pid=Api&P=0&h=180" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    
</div>
<div class="card" style="width: 18rem;">
    <img src="https://tse3.mm.bing.net/th?id=OIP.q3CmRPilC09YUDTNcZH9_gHaEG&pid=Api&P=0&h=180" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    
</div>
<div class="card" style="width: 18rem;">
    <img src="https://tse4.mm.bing.net/th?id=OIP.hhjeoE43Pl9thRS1QcbCugHaEo&pid=Api&P=0&h=180" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    
</div>
<div class="card" style="width: 18rem;">
    <img src="https://tse2.mm.bing.net/th?id=OIP.l_OB3XKWhE6x2sKN5e7qQwHaEG&pid=Api&P=0&h=180" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    
</div>
<div class="card" style="width: 18rem;">
    <img src="https://tse4.mm.bing.net/th?id=OIP.7GrGgFEGDD_E-hi4nU_j_QHaEo&pid=Api&P=0&h=180" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    
</div>
<div class="card" style="width: 18rem;">
    <img src="https://tse1.mm.bing.net/th?id=OIP.R6KOGAz0hVdV3Cpz5Jc9KAHaEG&pid=Api&P=0&h=180" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    
</div>
<div class="card" style="width: 18rem;">
    <img src="https://tse3.mm.bing.net/th?id=OIP.NxEuELRDikQ6EeO0CStT3wHaEG&pid=Api&P=0&h=180" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    
</div>
<div class="card" style="width: 18rem;">
    <img src="https://tse4.mm.bing.net/th?id=OIP.vy6rMQ7kyCckpdGF80e_fwAAAA&pid=Api&P=0&h=180" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    
</div>
  </div>
{% endblock content %}